langchain==0.3.27
langchain-community
langchain-groq
chromadb
pypdf
sentence-transformers
python-dotenv
huggingface-hub
streamlit
sentence-transformers
transformers
torch
ml-dtypes
fastapi
uvicorn
pymupdf4llm
colorlog
langchain-huggingface
python-multipart